<div class='fb-tab-pane active' id='addField'>
  <div class='fb-add-controls'>
    <div class='section'>
      <% _.each(_.sortBy(Formbuilder.inputFields, 'order'), function(f){ %>
        <%if (f.control != 'website' && f.control != 'time' && f.control != 'address') { %>
        <a data-control="<%= f.control %>" class="<%= Formbuilder.options.BUTTON_CLASS %>">
          <%= f.addButton %>
        </a>
        <%}%>
      <% }); %>
    </div>

    <div class='section'>
      <% _.each(_.sortBy(Formbuilder.nonInputFields, 'order'), function(f){ %>
        <a data-control="<%= f.control %>" class="<%= Formbuilder.options.BUTTON_CLASS %>">
          <%= f.addButton %>
        </a>
      <% }); %>
    </div>

    <% if (Formbuilder.formType === 'single') { %>
      <div class='section'>
        <% _.each(_.sortBy(Formbuilder.resultFields, 'order'), function(f){ %>
          <a data-control="<%= f.control %>" class="<%= Formbuilder.options.BUTTON_CLASS %>">
            <%= f.addButton %>
          </a>
        <% }); %>
      </div>
    <% } %>
  </div>
</div>
