<div class='fb-common-wrapper'>
  <%= Formbuilder.templates['edit/id']() %>
</div>
<div class='fb-edit-section-header'>Label</div>

<div class='fb-common-wrapper'>
  <div class='fb-label-description'>
    <%= Formbuilder.templates['edit/label_description']() %>
  </div>
  <div class='fb-common-checkboxes'>
    <%= Formbuilder.templates['edit/checkboxes']() %>
  </div>
  <label for="selectInputColSize">Input Column Size</label>
  <select id="selectInputColSize" data-rv-value="model.<%= Formbuilder.options.mappings.FIELD_COL %>">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">10</option>
    <option value="11">11</option>
    <option value="12">12</option>
  </select>
  <div class='fb-clear'></div>
</div>
